:root {
  --light: #ebebeb;
  --orange: #f8896b;
  --green: #178edd;
  --dark: #06316d;
  --blue: rgb(37, 168, 255);
  --dark_green: #0266a9;
  --background: rgb(56, 56, 56);
  --whatsapp: rgb(51, 210, 107);
  --telegram: rgb(52, 164, 212);
  --viber: rgb(124, 83, 153);
}
